<h3>Add a new Panel Provider</h3>
<% form_for :panel_provider, :url => { :action => 'create' } do |f|%>
    <table >
      <tr>
        <td>Code</td><td><%= f.text_field :code %></td>
      </tr>
    </table>
    <button>Save</button>
<% end %>