<form name = 'form1' action='/panel_provider/show_panel_price' >

  <label >Panel Provider:</label>
  <%= select_tag "panel_provider_id" , options_for_select(@panel_providers),
                 {:include_blank => true,:onchange => "submitPanelProviderId(this.value)"  } %>

  <hr/>

    <label >Target Group:</label>
    <%= select_tag "target_group_id" , options_for_select(@target_groups),
                   {:include_blank => true,:onchange => "submitTargetGroupId(this.value)"  } %>

    <hr/>

    <label >Country:</label>
    <%= select_tag "country_id" , options_for_select(@countries),
                   {:include_blank => true,:onchange => "submitCountryId(this.value)"  } %>
    <hr/>

    <table border="1">
      <tr>
        <th>Location group</th><th>Location</th>
      </tr>
      <% @locations.each do |l| %>
          <tr>
            <td><%= l[0] %></td>
          </tr>
      <%end%>
    </table>

</form>>


<script>

    function submitPanelProviderId(str) {

        var panelproviderId = str;

        $.ajax({
            type: 'GET',
            url: '/prices/add_countries_target_groups',
            data: 'panel_provider_id='+panelproviderId,
            error: function (request, status, error) {
                alert(request.responseText);
            },
            success: function (response) {
                //alert("i am here");
                console.log(response);
                var countries = response["countries"];

                $("#country_id").empty();
                $("#country_id").append('<option>Select country</option>');
                for(var i=0; i< countries.length; i++){
                    $("#country_id").append('<option value="' + countries[i]["id"] + '">' + countries[i]["country_code"] + '</option>');
                }

                var target_groups = response["target_groups"];
                $("#target_group_id").empty();
                $("#target_group_id").append('<option>Select target group</option>');
                for(var i=0; i< target_groups.length; i++){
                    $("#target_group_id").append('<option value="' + target_groups[i]["id"] + '">' + target_groups[i]["name"] + '</option>');
                }
                 }
        });
    }

    function submitCountryId(str) {
        var countryId = str;
        $.ajax({
            type: 'GET',
            url: '/location/add_locations',
            data: 'country_id='+countryId,
            error: function (request, status, error) {
                alert(request.responseText);
            },
            success: function (response) {

                console.log(response);
                var locations = response["locations"];
                for(var i=0; i< locations.length; i++){
                    //alert(locations[i]["name"]);
                    var location = locations[i]["name"]
                    var location_group = locations[i]["location_group"]
                    var markup = "<tr><td>" + location_group + "</td><td>" + location + "</td></tr>";
                    $("table tbody").append(markup);
                }
            }
        });
    }

    function submitCountryId2(str) {
        var countryId = str;
        $.ajax({
            type: 'GET',
            url: '/target_group/add_target_groups',
            data: 'country_id='+countryId,
            error: function (request, status, error) {
                alert(request.responseText);
            },
            success: function (response) {

                console.log(response);
                var target_groups = response["target_groups"];
                for(var i=0; i< target_groups.length; i++){
                    //alert(target_groups[i]["name"]);
                    var target_group = target_groups[i]["name"]
                    var markup = "<tr><td>" + target_group + "</td></tr>";
                    $("table tbody").append(markup);
                }
            }
        });
    }

</script>


