<div >
  <table class="table table-bordered table-striped">
    <caption>
      <h4>Target Groups</h4>
    </caption>
    <tr>
      <td><%= link_to 'countries', {:controller => "target_group", :action => "countries"} %></td>
    </tr>
    <tr>
      <td><%= link_to 'list target_groups', {:controller => "target_group", :action => "list_target_groups"} %></td>
    </tr>
    <tr>
      <td><%#= link_to "add new target group", "new" %> </td>
    </tr>
  </table>
</div>

