<% if session[:user_id]  %>
<table>
  <hr>


  </hr>

  <tr>
    <td><%= link_to "panel providers", "panel_provider/index" %> </td>
  </tr>
  <tr>
    <td><%= link_to "target groups", "target_group/index" %> </td>
  </tr>
  <tr>
    <td><%= link_to "locations", "location/index" %> </td>
  </tr>
  <tr>
    <td><%= link_to "evaluate_prices", "panel_provider/evaluate_prices" %> </td>
  </tr>
  </tbody>
</table>
<% end  %>