<div >
  <table class="table table-bordered table-striped">
    <caption>
      <h4>Locations</h4>
    </caption>
    <tr>
      <td><%= link_to 'countries', {:controller => "location", :action => "countries"} %></td>
    </tr>
    <tr>
        <td><%= link_to 'list locations', {:controller => "location", :action => "list_locations"} %></td>
    </tr>

  </table>
</div>
